
 body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
 }

 .container {
   width: 300px;
   border: 2px solid #000;
   padding: 10px;
   display: inline-block;
   text-align: center;
   margin:20px;
 }

 .item {
   background-color: #3498db;
   color: #fff;
   padding: 10px;
   margin: 5px;
   cursor: pointer;
   border: 2px solid #2980b9;
   border-radius: 5px;
 }

 .item:hover {
   background-color: #2980b9;
 }

 #target {
   background-color: #27ae60;
   border-color: #1e8449;
 }

 p {
   color: #fff;
   margin: 0;
 }

 .drop-area {
   width: 300px;
   border: 2px solid #000;
   padding: 10px;
   display: inline-block;
   text-align: center;
   margin: 10px;
   
 }

 .drop-area p {
   margin: 0;
   color: #000;
 }
